.DS_Store
*.pyc
__pycache__
dist
build
docs/build
docs/source/reference/services
tests/cover
tests/.coverage
*.egg-info

# Test state / virtualenvs
.tox
.coverage
coverage.xml
nosetests.xml

# Common virtualenv names
venv
env2
env3

# IntelliJ / PyCharm IDE
.idea/

# Visual Studio used to edit docs
docs/source/.vs
.vscode
