.DS_Store
*.pyc
__pycache__
dist
build
docs/build
docs/source/reference/services
tests/cover
tests/.coverage
*.egg-info

# Test state / virtualenvs
.tox
.coverage

# Common virtualenv names
venv
env2
env3
