-e git+https://github.com/boto/botocore.git@develop#egg=botocore
-e git+https://github.com/boto/jmespath.git@develop#egg=jmespath
-e git+file:///Users/aemous/GitHub/s3transfer@callback#egg=s3transfer
#-e git+https://github.com/boto/s3transfer.git@develop#egg=s3transfer
